<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index - Exercice1</title>
</head>
<body>
<main>
    <h1>Vous êtes sur la page Afficher un Nombre aléatoire</h1>
    <h2>Nombre aléatoire @ViewData["Nombre aléatoire"]</h2>
    <p>Le nombre aléatoire généré est : @ViewData["RandomNumber"]</p>
    <a href="@Url.Action()">Générer un nouveau nombre</a>
</main>
</body>
</html>